# ==== PostgreSQL ====
POSTGRES_DB=bankcards
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong_password

# ==== Приложение ====
# Секреты для шифрования/токенов
ENCRYPT_SECRET=very-long-encrypt-secret-key-сhange-me
JWT_SECRET=very-long-jwt-secret-key-сhange-me

# ==== Порты на хосте (опционально) ====
DB_PORT_HOST=5432
APP_PORT_HOST=8080
